/*TEMURBEK FARMONOV
ResumeAssignment 
6/1/2024          */
/* COLORS USED 

#3D5A80-YlnMn Blue
#98C1D9-Powderblue
#E0FBFC-Light Cyan
#EE6C4D-Burnt Sienna
#293241-GUNMETAL
*/

/* GLOBAL STYLES
---------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before,*:after {
    box-sizing: inherit;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: "Noto Sans", sans-serif;
    background: #92C9B1;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
}

h1, h2, h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Martian Mono", monospace;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 7rem;
    line-height: 0.85;
}

h2 { 
    font-size: 3.6rem;
}

h3 { 
    font-size: 2.4rem;
}
/* links */
a {
    color: #3D5A80;
}

a:hover {
    color: white;
}

footer a {
    color: #EE6C4D;

}

footer a:hover {
    color: #3D5A80;
}

.btn {
    background: #EE6C4D;
    color: #E0FBFC;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: .1em;
    line-height: 1;
    border-radius: 4px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}



nav {
    width: 100%;
    background-color: #293241;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    padding: 10px;
    margin: 0;
    text-align: center;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
    padding: 20px 20px;
    background: #fff;
    cursor: pointer;
    width: 155px;
    border-radius: 4px;
}

nav ul li a {
    text-decoration: none;
    color: #293241;
    display: block;
    font-size: small;
}

nav ul li:hover > a {
    color: #98C1D9;
}

nav ul li:hover {
    background: #fff;
    color: #293241;
}

nav ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: -10000px;
    width: 150px;
}

nav ul li ul li {
    background: #fff;
    display: block;
    color: #293241;
}

nav ul li ul li:hover { 
    background: #E0FBFC;
}

nav ul li:hover ul {
    display: block;
    left: 0px;
    width: auto;
}
/*Had to add NAV TO EVERYTHING TO STOP IT FROM AFFECTING THE FOOTER, ALSO ADDED EVERYTHING TO GLOBAL SECTION BECAUSE THIS NAV BAR WOULD BE ON EACH PAGE*/
/* HOME
---------------------------------*/
.home {
    background: url(../placeholderimages/annie-spratt-unsplash.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}

/* RESUME
------------------------------------*/
.header::before {
    background: url(../placeholderimages/sharon-mccutcheon-unsplash.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
  }

  .Resume-section {
    margin-bottom: 50px;
  }

  .Resume-section h2 {
    border-bottom: 2px dashed #293241;
  }

  .Download-link {
    position: fixed;
    top: 20px;
    left: 5px;
    z-index: 1000;
    font-size: 1.5rem;
  }
/* PROFILE
---------------------------------*/

/* PROJECTS
---------------------------------*/
.project-item {
    display: flow-root;
    margin:30px 0;
}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

/* WORK EXPERIENCE
---------------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
    margin: 30px 0;
}

.work-details p {
    margin: 0;
}

.work-summary p:first-child {
    margin-top: 0;
}


/* EDUCATION
---------------------------------*/
.education-item {
    margin: 30px 0;
}

.education-item p {
    margin: 0;
}

/* FOOTER
---------------------------------*/

footer { 
    background:#293241;
    color:#E0FBFC;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.socials { 
    list-style-type: none;
    padding: 0;
}

.socials img {
    width: 32px;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img:hover {
    opacity: 0.5;
}